@model ASP.Net.Models.Bill.Service

<div class="row my-1">
    <div class="col-sm-12 col-md-5">
        @Model.Name
    </div>
    <div class="col-sm-12 col-md-7">
        @Model.ToPay.ToString("F2")
    </div>
</div>
